/* ^ Start */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-nav: #567d61;;
    --color-title: #c1977c;
    --color-bg: #F6F4D2;
    --color-1: #F19C79;
    --color-2: #e8d4bd;
    --color-btn: #cf5d4e;
    --color-black: #000000;
    --bs-body-font-family: "Roboto Slab", serif;
}




/* ^ Utility */
.hidden {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.fitContent {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ^ General */
html {
    min-height: 100vh;
    background-color: var(--color-bg);
}

body {
    background-color: transparent;
}

#placeHolder {
    height: 67px;
}

/* ^ Nav */
#nav {
    width: 100vw !important;
    max-width: none;
    background-color: var(--color-nav);
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 100;
}

.nav-item {
    font-size: 18px;
    color: var(--color-2);
    margin: 4px 10px;
}

.active {
    background-color: transparent !important;
}




/* ^ Home */
#home {

}

#homeImg {
    width: 100vw;
    height: 100vh;
    background-image: url(./../img/homeBg.png);
    position: fixed;
    top: 0;
    z-index: -1;
}

#homeContent {

}

#home h1 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-title);
    text-shadow: var(--color-title) 2px 0 2px;
    text-align: center;
}

#placeHolderHome {
    margin-bottom: 100vh;
}

#homeBox {
    background-color: var(--color-2) !important;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2.5vw;
    border-radius: 20px;
    margin: 0 20px;
}

.homeBoxItem {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
}

.homeBoxItem:nth-of-type(2) {
    flex-direction: row-reverse;
}

.homeBoxItemContent {
    background-color: var(--color-title);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 2%;
    border-radius: 10px;
    margin: 0;
}

.homeBoxItemTitle {
    font-size: 2.8vw;
}

.homeBoxItemText {
    font-size: 1.4vw;
    margin-bottom: 0;
}

.homeBoxItemImg {
    width: 300%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#descriptionImg {
    background-image: url(./../img/description.jpg);
}

#historyImg {
    background-image: url(./../img/history.jpg);
}

#gardenImg {
    background-image: url(./../img/garden.jpg);
}






/* ^ Dona */
#dona {
    height: calc(100vh - 145px - 67px);
}

#donaBlock {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#modelBtn {

}

/* * Counter */
#counterBlock {
    display: flex;
    flex-direction: row !important;
    gap: calc(3vw + 10px);
    visibility: visible;
    animation-name: fadeIn;
    margin: 0;
}

.counter-section {
    visibility: visible;
    animation-duration: 300ms;
    animation-name: fadeInUp;
}

.counter-section i {
    display:block;
    margin:0 0 10px
}

.counter {
    width: 90px;
    text-align: center;
}

#money {
    width: 130px;
}

.counter-section span.counter {
    font-size: 32px;
    color:#000;
    line-height:60px;
    display:block;
    letter-spacing: 2px;
}

.counter-icon {
    width: 48px;
    height: 48px;
}

.counter-title{
    font-size:12px;
    letter-spacing:2px;
    text-transform: uppercase
}

.counter-icon {
    top:25px;
    position:relative
}

.counter-style2 .counter-title {
    letter-spacing: 0.55px;
    float: left;
}

.counter-style2 span.counter {
    letter-spacing: 0.55px;
    float: left;
    margin-right: 10px;
}

.counter-style2 i {
    float: right;
    line-height: 26px;
    margin: 0 10px 0 0
}

.counter-subheadline span {
    float: right;
}  

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important;
}



/* ^ Footer */
#footer {
    height: 65px;
    background-color: var(--color-nav);
    border-top: 1px solid var(--color-bg) !important;
    margin: 80px 0 0 !important;
}

#footerText {
    margin-left: 14px;
}

#logosContainer {
    height: 100%;
    display: flex;
    align-content: center;
    gap: 32px;
    margin-right: 14px;
}

.logo img {
    width: 32px;
    height: 32px;
}

.logo img:hover {
    transform: scale(1.4) rotate(30deg);
    transition-duration: 500ms;
}

#checkOut {

}



/* ^ Media */
@media (max-width: 750px) {
    #homeBox {
        gap: 50px;
    }

    .homeBoxItem {
        flex-direction: column !important;
    }

    .homeBoxItemContent {
        gap: 5px;
    }

    .homeBoxItemTitle {
        font-size: 24px;
    }

    .homeBoxItemText {
        font-size: 12px;
    }

    .homeBoxItemImg {
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width: 462px) {
    #home h1 {
        font-size: 2.5rem;
    }

    .logo img {
        width: 24px;
        height: 24px;
    }
    
}

@media (max-width: 377) {
    #donaBlock {
        height: calc(100vh - 102px - 145px);
    }
}